*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: dimgray;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: lightsalmon;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    z-index: 999;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.logo{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(43,42,42);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.nav-container .nav-links{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.nav-container .nav-links li a{
    text-decoration: none;
    color: rgb(43,42,42);
    padding: 3px 20px;
    border-radius: 20px;
    transition: all ease-in-out 100ms;
    white-space: nowrap;
    text-transform: uppercase;
}
.nav-container .nav-links li a:hover{
    background-color: darksalmon;
    color: rgb(29, 29, 29);
    font-weight: bold;
}
.hamburger {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(43,42,42);
}

@media(max-width: 720px) {
    .nav-container .nav-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);
    }
    .nav-container .nav-links li a:hover{
        background-color: rgba(64, 64, 64, 0.5);
        color: rgb(29, 29, 29);
    }
    .nav-container .nav-links.active{
        display: flex;
    }
    .hamburger{
        display: block;
        z-index: 999;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width:480px) {
    .nav-container {
        padding: 0 1rem;
    }
    .logo {
        font-size: 1.7rem;
    }
    .nav-links li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}