*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: salmon;
    --color-secondary: crimson;
    --color-select: darksalmon;
    --color-menu: rgba(250, 128, 114, 0.5);
    --color-white: white;
    --color-gray-1: gainsboro;
    --color-gray-2: rgb(42,42,42);
    --color-gray-3: rgb(29,29,29);
    --color-black: black;
    --shadow: rgba(0,0,0,.3);
    --shadow-2: rgba(64,64,64,0.5);
    --font-size-xs: 1.0rem;
    --font-size-s: 1.2rem;
    --font-size-m: 1.6rem;
    --font-size-l: 2.4rem;
    --font-size-xl: 3rem;
    --font-size-xxl: 4rem;
    --gap: 2rem;
    --margin-s: 2rem;
    --margin-m: 3rem;
    --item-min-height-s: 20rem;
    --item-min-height-m: 30rem;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark-mode{
    --color-white: black;
    --color-gray-1: rgb(29,29,29);
    --color-gray-3: gainsboro;
    --color-black: white;
}

body{
    min-height: 100vh;
    background-color: var(--color-gray-1);
    color:var(--color-black);
    font-family: var(--font-family);
    font-size: var(--font-size-s);
}
.img{
    max-width: 100%;
    display: block;
}
.theme-btn{
    top: 10%;
    right: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--shadow);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px var(--shadow-2);
    transition: all .6s ease-in-out;
    z-index: 99;
}
/*Nav Bar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-primary);
    box-shadow: 3px 3px 5px var(--shadow);
    z-index: 999;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.logo{
    font-size: var(--font-size-m);
    font-weight: bolder;
    color: var(--color-gray-2);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.nav-container .nav-links{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}
.nav-container .nav-links li a{
    text-decoration: none;
    color: var(--color-gray-2);
    padding: 3px 20px;
    border-radius: 20px;
    transition: all ease-in-out 100ms;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: var(--font-size-s);
}
.nav-container .nav-links li a:hover{
    background-color: var(--color-select);
    color: var(--color-gray-3);
    font-weight: bold;
}
.hamburger{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-gray-2);
}

@media(max-width: 767px) {
    .nav-container .nav-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px var(--shadow);
        backdrop-filter: blur(2px);
        background-color: var(--color-menu);
    }
    .nav-container .nav-links li a:hover{
        background-color: var(--shadow-2);
        color: var(--color-gray-3);
    }
    .nav-container .nav-links.active{
        display: flex;
    }
    .hamburger{
        display: block;
        z-index: 999;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width:480px) {
    .nav-container {
        padding: 0 1rem;
    }
    .logo {
        font-size: var(--font-size-m);
    }
    .nav-links li a {
        font-size: var(--font-size-s);
        padding: 3px 15px;
    }
}

section{
    min-height: 100vh;
    padding: 8rem 6%;
    width: 100%;
    position: relative;
}

