*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: dimgray;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: lightsalmon;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.logo{
    display: flex;
    align-items: center;
}
.logo h3{
    margin-left: 10px;
    color: rgb(43, 42, 42);
    text-decoration: none;
    font-size: 28px;
    white-space: nowrap;
}
.nav-links{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links a{
    height: 100%;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    align-items: center;
    color: rgb(43,42,42);
    text-transform: uppercase;
    transition: all ease-in-out 100ms;
}
.nav-links a:hover{
    background-color: darksalmon;
    color: rgb(29, 29, 29);
    font-weight: bold;
}
.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}
.hamburger .bar{
    flex-basis: 100%;
    height:4px;
    background-color: rgb(29, 29, 29);
    margin: 3px;
}

@media(max-width: 700px) {
    nav{
        flex-wrap: wrap;
    }
    .hamburger{
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        height: 80px;
    }
    .nav-links{
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .nav-links li {
        flex-basis: 100%;
    }
    .nav-links a:hover {
        background-color: darksalmon;
        color: rgb(29, 29, 29);
        font-weight: bold;
    }
}