*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}
/*Nav Bar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: lightsalmon;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    z-index: 999;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.logo{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(43,42,42);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.nav-container .nav-links{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.nav-container .nav-links li a{
    text-decoration: none;
    color: rgb(43,42,42);
    padding: 3px 20px;
    border-radius: 20px;
    transition: all ease-in-out 100ms;
    white-space: nowrap;
    text-transform: uppercase;
}
.nav-container .nav-links li a:hover{
    background-color: darksalmon;
    color: rgb(29, 29, 29);
    font-weight: bold;
}
.hamburger {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(43,42,42);
}

@media(max-width: 767px) {
    .nav-container .nav-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(2px);
    }
    .nav-container .nav-links li a:hover{
        background-color: rgba(64, 64, 64, 0.5);
        color: rgb(29, 29, 29);
    }
    .nav-container .nav-links.active{
        display: flex;
    }
    .hamburger{
        display: block;
        z-index: 999;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media (max-width:480px) {
    .nav-container {
        padding: 0 1rem;
    }
    .logo {
        font-size: 1.7rem;
    }
    .nav-links li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}

/* main site */

section{
    min-height: 100vh;
    padding: 8rem 6%;
    width: 100%;
    position: relative;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .intro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.home img{
    width: 30vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: .8;
}
.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}
.info-box span{
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}
.socials{
    display: flex;
    gap: 2rem;
}
.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.socials i:hover{
    transform: scale(1.2);
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.elementor-grid-item{
    --icon-padding:0em;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.elementor-icon.elementor-social-icon {
    font-size: var(--icon-size, 25px);
    height: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
    line-height: var(--icon-size, 25px);
    width: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
}
.elementor-screen-only{
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -10000em;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
svg{
    overflow-clip-margin: content-box;
    overflow: hidden;
}
/*About*/
#about{
    background-color: lightgray;
}
/* Portfolio */
#projects{
    background-color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.portfolio-item, .center, .left, .right{
    right: 0;
    margin: 0 0 15px;
    flex: 33.3%;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.portfolio-item .item-link{
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 2%;
}
.portfolio-item .item-link .portfolio-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 1s;
    opacity: 0;
    background: lightsalmon;
    border-radius: 2%;
    background-color: lightsalmon !important;
}
.portfolio-item .item-link .portfolio-hover:hover{
    opacity: .8;
}
.portfolio-item .item-link .portfolio-hover .hover-content{
    font-size: 22px;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: black;
}
.portfolio-item .item-link .portfolio-hover .hover-content .project-description{
    font-size: 16px;
    margin: 20px;
}
.card-img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 5/4;
    border-radius: 2%;
    object-fit:cover;
}
@media (min-width: 576px) {
    .portfolio-item{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .portfolio-item{
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
}
/* Footer */
.site-footer{
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 1.2rem;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.center, .left, .right{
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding-left: 15px;
    padding-right: 15px;
}
.center{
    text-align: center;
}